/* styles.css */
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background-color: #1d1f20;
  color: #e5e5e5;
  font: 16px/1.25 'Crimson Text', sans-serif;
  margin: 0;
}

p {
  text-indent: 2em;
  margin: 0;
  line-height: 1.5;
}

.tag{
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

#container {
  float: left;
  padding: 16px;
  width: 100%;
}

.open-book {
  background: #fff;
  box-shadow: rgba(0,0,0,0.5) 0 16px 48px;
  color: #000;
  padding: 32px;
}

.open-book * {
  position: relative;
}

.open-book *::-moz-selection {
  background: rgba(222,255,0,0.75);
}

.open-book *::selection {
  background: rgba(222,255,0,0.75);
}

.open-book header {
  padding-bottom: 16px;
}

.open-book header *,
.open-book footer * {
  font: 700 16px/1.25 'Playfair Display', sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.open-book header * {
  font-size: 12px;
  text-transform: uppercase;
}

.open-book footer {
  padding-top: 16px;
}

.open-book footer #page-numbers {
  display: none;
  list-style: none;
  padding: 0;
  text-align: left;
}

.open-book footer #page-numbers > li:last-child {
  text-align: right;
}

.open-book .chapter-title {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
  background-size: 0.5em 0.5em;
  font: 700 7vw/1.25 'Playfair Display', sans-serif;
  letter-spacing: 0.125em;
  margin: 0 0 1em 0;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
  border: solid 0 #000;
  border-width: 0.05em 0;
  bottom: calc((0.125em / 2) * 3);
  content: '';
  height: 0.15em;
  position: absolute;
  width: calc(50% - (1em / 2));
}

.open-book .chapter-title:before {
  left: 0;
}

.open-book .chapter-title:after {
  right: 0;
}

#highlight-yellow {
  background-color: yellow;
}
#highlight-pink {
  background-color: rgba(223, 34, 223, 0.932);
}
#highlight-blue {
  background-color: rgb(0, 195, 255);
}
#highlight-green {
  background-color: rgb(8, 190, 8);
}
#highlight-orange {
  background-color: orange;
}

#stripe {
  color: #999ca3;
  text-decoration: line-through;
}

@media only screen and ( min-width: 830px ) {

  .open-book {
    margin: 16px;
    position: relative;
  }

  .open-book:before {
    background-color: #8B4513;
    border-radius: 4px;
    bottom: -16px;
    content: '';
    left: -16px;
    position: absolute;
    right: -16px;
    top: -16px;
    z-index: -1;
  }

  .open-book:after {
    background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
    bottom: -16px;
    content: '';
    left: 50%;
    position: absolute;
    top: -16px;
    transform: translate(-50%,0);
    width: 64px;
    z-index: 1;
  }

  .open-book > * {
    column-count: 2;
    column-gap: 96px;
    position: relative;
    z-index: 1;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    background: #fff;
    border-radius: 25%;
    content: '';
    height: 32px;
    position: absolute;
    z-index: -1;
    width: calc(50% + 32px);
  }

  .open-book header:before,
  .open-book footer:before,
  .open-book footer:after {
    border-top-left-radius: 0;
  }

  .open-book header:after,
  .open-book footer:before,
  .open-book footer:after {
    border-top-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:after {
    border-bottom-right-radius: 0;
  }

  .open-book header:before,
  .open-book header:after,
  .open-book footer:before {
    border-bottom-left-radius: 0;
  }

  .open-book header:before,
  .open-book header:after {
    top: -42.4px;
  }

  .open-book header:before,
  .open-book footer:before {
    right: 50%;
  }

  .open-book header:before {
    transform: rotate(-2deg);
  }

  .open-book header:after,
  .open-book footer:after {
    left: 50%;
  }

  .open-book header:after {
    transform: rotate(2deg);
  }

  .open-book footer:before,
  .open-book footer:after {
    bottom: -42.4px;
  }

  .open-book footer:before {
    transform: rotate(2deg);
  }

  .open-book footer:after {
    transform: rotate(-2deg);
  }

  .open-book header > *:last-child,
  .open-book footer > *:last-child {
    text-align: right;
  }

  .open-book footer #page-numbers {
    display: block;
  }

  .open-book .chapter-title {
    font-size: 48px;
  }

  .open-book .chapter-title:before,
  .open-book .chapter-title:after {
    height: 0.125em;
  }


}
