* {
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-image: linear-gradient(to right, rgb(216, 92, 92), rgb(160, 1, 1));
}

main{
    background-color: white;
    border-radius:10px;
    box-shadow: 5px 5px 15px rgba(51, 0, 0, 0.733);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#410808;
    text-align: center;
    text-shadow: 1px 1px 2px #9b11111a;
}

h2{
    color: #A68A56
}

p{text-align: justify}